<h1 class="clr-row clr-justify-content-center">Mascotas para adoptar</h1>
<br>
<button class="btn btn-outline" routerLink="/mascotas-agregar">agregar mascota</button>

<table class="table" >
    <thead>
        <tr>
            <th class="left">Nombre</th>
            <th class="left">Tipo</th>
            <th class="left">Edad</th>
            <th class="left">Descripcion</th>
            <th class="left">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr class="left" *ngFor="let mascota of mascotas">
            <td class="left">{{mascota.nombre}}</td>
            <td class="left">{{mascota.tipo}}</td>
            <td class="left">{{mascota.edad}}</td>
            <td class="left">{{mascota.descripcion}}</td>
            <td class="left">

                <button [routerLink]="['/mascotas-editar', mascota.id]" type="button" class="btn btn-icon"
                    aria-label="home">
                    <clr-icon shape="pencil"></clr-icon>
                </button>

                <button type="button" (click)="borrarMascota(mascota.id)" class="btn btn-icon btn-warning" aria-label="warning">
                    <clr-icon shape="trash"></clr-icon>
                </button>

            </td>
        </tr>
    </tbody>
</table>
