<h1 class="clr-row clr-justify-content-center">Cuidados de Mascotas</h1>

<div class="card-columns">
    <div class="card">
        <div class="card-img">
            <img src="assets/img/cat.jpg" alt="44px">
        </div>
        <div class="card-block">
            <p class="card-text">
              1 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus nesciunt earum id culpa molestias amet cumque quaerat ea doloremque. Possimus similique illum blanditiis id nesciunt, labore officia sapiente! Exercitationem, necessitatibus.
            </p>
        </div>
    </div>
   
    <div class="card">
        <div class="card-block">
            <p class="card-text">
                ...
            </p>
        </div>
        <div class="card-img">
            <img src="assets/img/cat.jpg" alt="44px">
        </div>
        <div class="card-block">
            <p class="card-text">
                ...
            </p>
        </div>
    </div>
  
    <div href="..." class="card">
        <div class="card-block">
            <p class="card-text">
                3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque veritatis animi laboriosam omnis perspiciatis explicabo labore, illum tempora illo error molestiae ex possimus a quis quam laborum amet facilis iusto?
            </p>
        </div>
        <div class="card-img">
            <img src="assets/img/cat.jpg" alt="44px">
        </div>
    </div>  


    <a href="..." class="card clickable">
        <div class="card-block">
            <p class="card-text">
                2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita natus temporibus corporis voluptate ad quidem voluptas vitae tempore dignissimos tenetur minus a incidunt rem vel commodi, nostrum facere esse nemo?
            </p>
        </div>
        <div class="card-img">
            <img src="assets/img/cat.jpg" alt="44px">
        </div>
    </a>
</div>